:root {
    --backgroundcolor-1: #e0f2f1;

    --color-2: #fffffff3;
    --color-3: #f57f17;
    --color-4: #b0bec5;

    --radius-1: 1rem;
    --radius-2: .5rem;

    --backgroundcolor-2: linear-gradient(to right, #fafafa, #f6ddda, #e1bee7);
    --backgroundcolor-3: linear-gradient(to right, #efebe9, #e0e9e8);

    --space: 2rem;

    --boder: linear-gradient(to right, #fafafa, #fbd480, #e1bee7);
}

* {
    box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    margin: 0;
    
    /* position: sticky;
    top: 0; */
    background-color: var(--backgroundcolor-1);
}

header {
    /* background-image: var(--backgroundcolor-3);
    position: sticky;
    top: 0; */
    padding: 1rem 0;
    padding-top: .5rem;
}

.nav-container {
    background-color: var(--color-2);
    margin: 1rem 10rem;
    padding-bottom: 0;
    border-radius: var(--radius-1);
}

.heading, nav {
    float: left;
    line-height: 3rem;
    width: 50%;
}

.heading {
    /* width: 0%; */
    padding-left: 6rem;
}
/* 
nav {
    width: 70%;
} */

li, a {
    float: left;
}

.ul {
    padding-top: .3rem;
}

ul li {
    list-style-type: none;
    text-align: right;
}

ul a {
    text-decoration: none;
}

a {
    text-transform: capitalize;
    color: black;
    font-size: 1.5rem;
    padding-right: 6rem;
}

.home {
    color: var(--color-3)
}

.contact {
    background-color: var(--color-3);
    border-radius: var(--radius-2);
    padding: 1rem 4rem;
    color: var(--color-2);
}

main {
    padding-top: 1rem;
}

.first-left, .first-right {
    float: left;
    width: 50%;
}

.name {
    font-size: 7rem;
    text-transform: capitalize;
    margin-bottom: 0;
    padding-right: 1rem;
}

.write {
    font-size: 1.5rem;
    color: var(--color-4);
}

.hire {
    text-decoration: none;
    margin: 2rem 0;
}

.first-container {
    margin-bottom: 5rem; padding-left: 10rem;
    padding-right: 10rem;
}

.second-container {
    background-image: var(--backgroundcolor-2);
    position: sticky;
    top: 0;
    padding: 1rem 10rem;
    /* padding-right: 10rem; */
}

.skills {
    font-size: 1.5rem;
}

.third-container {
    background-color: var(--color-2);
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.image-container-1, .description {
    float: left;
    width: 50%;
}

.row, .third-right {
    float: left;
    width: 50%;
}

.row {
    margin:  var(--space, 4rem) 0;
    background-color: var(--backgroundcolor-1);
    padding: 2rem;
    border-radius: var(--radius-1);
}

[class ^= "col-"]{ 
    float: left;
}


[class ^= "col-"]:not(:last-child) {
    margin-bottom: var(--space);
}

.col-3-of-3 {
    width: 100%;
    /* background-image: var(--backgroundcolor-2); */
    /* border-radius: var(--radius-2); */

    background-color: var(--color-2);
    
    border: 10px solid;
    border-image-slice: 1;
    border-width: 10px;
    border-image-source: var(--boder);

    /* border-start-start-radius: var(--radius-2); */
}

.description {
    padding-left: 4rem;
}

.third-right {
    padding-left: 4rem;
}

.awesome {
    font-size: 6rem;
    margin-bottom: 0rem;
}

.col-1-of-3 {
    width: calc((100% - (2 * var(--space))) / 3);
}




.clearfix::after {
    clear: both;
    content: "";
    display: block;
}